Requirements
Fetch and display Released This Week songs - Use the API path new-releases
Fetch and display Featured Playlists - Use the API path featured-playlists
Fetch and display Browse genres - Use the API path categories
